*{
    padding: 0;
    margin: 0 !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Lato;
}
:root{
    --theme-blue:hsl(233, 26%, 24%);
    --theme-lime-green:hsl(136, 65%, 51%);
    --theme-bright-cyan:hsl(189, 100%, 99%);
    
    /* ### Neutral */
    
    --grayish-blue:hsl(236, 17%, 65%);
    --light-grayish-blue:hsl(220, 16%, 96%);
    --very-light-grey: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}
body{
    font-family: 'Lato';
}
nav{
    display: flex;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 12px;
    justify-content: space-between;
    height: 70px;
    font-weight: bold;
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    background: var(--very-light-grey);
    z-index: 100;
    box-shadow: 2px 2px 2px 2px rgb(248, 248, 248);
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
.mainMenu li a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: #000;
    text-transform:capitalize;
    margin: 5px;
    padding: 0.4em;
    font-size: 16px;
}
.mainMenu li a:hover{
    color: var(--theme-lime-green);
    transition: .8s all ease-in;
}
nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    padding-top: 20px;
    padding-right: 10px;
    display: none;
    cursor: pointer;
}
.icons{
    display: none;
}
nav .mainMenu .closeMenu{
    display:none;
    cursor: pointer;
}
nav .logo{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}
.logo p{
    position: absolute;
    top: 8px;
    left: 60px;
    font-weight: bold;
}
.invites{
    margin: 5px;
}
.invite{
    border:none;
    border-radius: 30px;
    padding: 0.1em 40px;
    background:var(--theme-lime-green);
    text-align: center;
}
.invites .invite a:hover{
    color: var(--white);
    transition: .8s ease-in-out;
}
@media (max-width:800px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0 !important;
        left: 0 !important;
        z-index: 10;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--grayish-blue);
        transition: ease .8s top;
        display: none;
    }
    .second-logo{
        position: absolute;
        text-align: center;
        right: 100px;
    }
    .mainMenu li a{
        color: #fff;
    }
    .mainMenu li a:hover{
        color: var(---grayish-blue);
        transition: .8s all ease-in;
    }
    .invites .invite a:hover{
        color: var(--theme-blue);
        transition: .8s ease-in-out;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .closeMenu{
        font-size: 30px;
        color: rgb(228, 222, 222);
    }
    nav .openMenu{
        display: block;
        position: absolute;
        right: 10px;
        top: -15px;
    }
}
main{
    padding-top: 7em;
    margin: 0 !important;
}
.first-container{
    padding-bottom: 10px;
    text-align: left;
}

.first-container p{
    font-size: 20px;
    text-align: justify;
    word-spacing: 1px;
}
.cyaner{
    background: var(--theme-bright-cyan);
    padding: 3em 2em;
    margin: 0 !important;
}
.desktop{
    padding-top: 50px;
    background: url(images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
}
.myBtn{
    border:none;
    border-radius: 30px;
    padding: 4px 30px;
    font-size: 18px;
    outline:none !important;
    background:var(--theme-lime-green);
    text-align: center;
    font-weight: bold;
}
.myBtn:hover{
    color: var(--white);
    transition: ease-in .8s;
}
.second-container p{
    font-size: 20px;
    text-align: justify;
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}
.third-container img{
    margin: 5px;
}
.third-container p{
    font-size: 18px;
    margin: 10px;
    line-height: 30px;
    text-align: left;
}
.fourth-container p{
    padding: 0.6em;
    text-align: left;
    line-height: 20px;
    margin-left: 20px;
}

.fourth-container img{
    width: 100%;
    /* margin: 40px 40px 10px 10px !imp; */
    border-radius: 8px;
}
.articles{
    font-size: 16px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    margin: 20px;
    color: rgb(167, 164, 164);
}
.art-container{
    margin: 20px;
}
.footer{
    background: var(--theme-blue);
    padding: 2em 4em;
    line-height: 45px;
    font-weight: bold;
    color: var(--light-grayish-blue);
}
.footer img{
    cursor: pointer;
}
.footer-img i{
    font-size: 16px;
}
.footer-img{
    color:car(--theme-lime-green);
    transition: all .8s ease-in-out;
    transform: translateY(-6px);
}
.second-logo:hover{
    cursor: pointer;
}
.footer p:hover{
    color: var(--theme-lime-green);
    transition: .8s;
    cursor: pointer;
}
.footer-Attribute small a{
    color: var(--very-light-grey);
}
.footer-Attribute small a:hover{
    color: var(--theme-lime-green);
    line-height: 20px;
    transition: .8s;
    cursor: pointer;
    text-decoration: none;
}
